## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Tiruchchendur,IN,88.09,broken clouds,8.4833,78.1167,Hotel Udhayam International
1,1,Rikitea,PF,77.13,light rain,-23.1203,-134.9692,People ThankYou
2,2,Alofi,NU,76.89,broken clouds,-19.0595,-169.9187,Taloa Heights
3,3,Hithadhoo,MV,83.66,broken clouds,-0.6000,73.0833,Scoop Guest House
4,4,Touros,BR,76.15,overcast clouds,-5.1989,-35.4608,INN NEW HORIZON

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# 5a. Prompt the user to choose their destinations
dest1 = (input("Will you start your trip? "))
dest2 = (input("What is your first destination? "))
dest3 = (input("What is your second stop? "))
dest4 = (input("Where will you visit last? "))
finaldest = dest1

Will you start your trip? San-Pedro
What is your first destination? Mankono
What is your second stop? Abengourou
Where will you visit last? Jacqueville

In [21]:
vacation_df.loc[vacation_df.City == 'Jacqueville']

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
311,311,Jacqueville,CI,80.51,overcast clouds,5.2052,-4.4146,Hotel Le Martin Pecheur

In [8]:
vacation_df.loc[[55], :]

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
55,55,Khash,IR,76.91,clear sky,28.2211,61.2158,Ø®ÙØ§Ø¨Ú¯Ø§Ù Ø¢Ø¨Ø¬Û Ù Ø­Ø¯Ø«Ù

In [36]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df.City == dest1]
vacation_end = vacation_df.loc[vacation_df.City == finaldest]
vacation_stop1 = vacation_df.loc[vacation_df.City == dest2]
vacation_stop2 = vacation_df.loc[vacation_df.City == dest3] 
vacation_stop3 = vacation_df.loc[vacation_df.City == dest4] 
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
311,311,Jacqueville,CI,80.51,overcast clouds,5.2052,-4.4146,Hotel Le Martin Pecheur

In [40]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
311,311,Jacqueville,CI,80.51,overcast clouds,5.2052,-4.4146,Hotel Le Martin Pecheur

In [35]:
test_start = ((vacation_start.to_numpy()[0][5]), (vacation_start.to_numpy()[0][6]))
test_start

(4.7485, -6.6363)

In [31]:
vacation_start.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 149 to 149
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              1 non-null      int64
 1   City                 1 non-null      object
 2   Country              1 non-null      object
 3   Max Temp             1 non-null      float64
 4   Current Description  1 non-null      object
 5   Lat                  1 non-null      float64
 6   Lng                  1 non-null      float64
 7   Hotel Name           1 non-null      object
dtypes: float64(3), int64(1), object(4)
memory usage: 72.0+ bytes

In [38]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = ((vacation_start.to_numpy()[0][5]), (vacation_start.to_numpy()[0][6]))
end = ((vacation_end.to_numpy()[0][5]), (vacation_end.to_numpy()[0][6]))
stop1 = ((vacation_stop1.to_numpy()[0][5]), (vacation_stop1.to_numpy()[0][6]))
stop2 = ((vacation_stop2.to_numpy()[0][5]), (vacation_stop2.to_numpy()[0][6]))
stop3 = ((vacation_stop3.to_numpy()[0][5]), (vacation_stop3.to_numpy()[0][6]))

In [39]:
stop3

(5.2052, -4.4146)

In [51]:
fig2 = gmaps.figure(map_type='HYBRID')
firstleg = gmaps.directions_layer(
    start, stop1,
    stroke_color='red', stroke_weight=3.0, stroke_opacity=1.0,
    travel_mode='DRIVING')
secondleg = gmaps.directions_layer(
    stop1, stop2,
    stroke_color='blue', stroke_weight=3.0, stroke_opacity=1.0,
    travel_mode='DRIVING')
thirdleg = gmaps.directions_layer(
    stop2, stop3,
    stroke_color='#FFC0CB', stroke_weight=3.0, stroke_opacity=1.0,
    travel_mode='DRIVING')
forthleg = gmaps.directions_layer(
    stop3, end,
    stroke_color='yellow', stroke_weight=3.0, stroke_opacity=1.0,
    travel_mode='DRIVING')
fig2.add_layer(firstleg)
fig2.add_layer(secondleg)
fig2.add_layer(thirdleg)
fig2.add_layer(forthleg)

fig2

Figure(layout=FigureLayout(height='420px'))

In [47]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig2 = gmaps.figure(map_type='HYBRID')
big_trip = gmaps.directions_layer(
    start, end, waypoints=[stop1, stop2, stop3],
    stroke_color='red', stroke_weight=3.0, stroke_opacity=1.0,
    travel_mode='DRIVING')
fig2.add_layer(big_trip)
fig2

Figure(layout=FigureLayout(height='420px'))

In [54]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,149,San-Pedro,CI,79.45,light rain,4.7485,-6.6363,Hotel Maria
1,254,Mankono,CI,74.59,broken clouds,8.0586,-6.1897,HÃ´tel cotonputeur
2,104,Abengourou,CI,70.50,overcast clouds,6.7297,-3.4964,Hotel des Princes
3,311,Jacqueville,CI,80.51,overcast clouds,5.2052,-4.4146,Hotel Le Martin Pecheur

In [58]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
travel = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations2 = itinerary_df[["Lat", "Lng"]]

In [60]:
# 11a. Add a marker layer for each city to the map.
fig3 = gmaps.figure()
marker_layer = gmaps.marker_layer(locations2, info_box_content=travel)
fig3.add_layer(marker_layer)
# 11b. Display the figure
fig3

Figure(layout=FigureLayout(height='420px'))